In [40]:
import pandas as pd 
import numpy as np 
import os

In [41]:
%pwd

'/config/workspace/notebook/data'

In [42]:
os.chdir("../artifacts/")

FileNotFoundError: [Errno 2] No such file or directory: '../artifacts/'

In [ ]:
%pwd

'/config/workspace/artifacts'

In [ ]:
df = pd.read_csv("train_cleaned.csv")

df.head()

,policy_state,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,insured_education_level,insured_relationship,capital-gains,capital-loss,...,property_damage,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,vehicle_claim,auto_make,auto_year,fraud_reported
0,IL,2000,1104.50,0,432211,FEMALE,PhD,unmarried,0,0,...,NO,2,2,NO,91650,14100,63450,Accura,2011,0
1,OH,1000,1099.95,0,473109,FEMALE,College,wife,0,-71900,...,NO,1,0,YES,52400,6550,39300,Accura,2005,1
2,OH,2000,1221.41,0,466289,FEMALE,Masters,wife,46700,-72500,...,NO,2,1,NO,2700,300,2100,Honda,2006,0
3,IL,500,1500.04,6000000,613826,MALE,PhD,own-child,0,-36500,...,NO,0,2,YES,5160,860,3440,Accura,2004,0
4,IN,1000,974.84,0,468984,FEMALE,JD,other-relative,52100,0,...,NO,0,1,YES,85320,21330,56880,Nissan,2006,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 28 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   policy_state                 800 non-null    object
 1   policy_deductable            800 non-null    int64
 2   policy_annual_premium        800 non-null    float64
 3   umbrella_limit               800 non-null    int64
 4   insured_zip                  800 non-null    int64
 5   insured_sex                  800 non-null    object
 6   insured_education_level      800 non-null    object
 7   insured_relationship         800 non-null    object
 8   capital-gains                800 non-null    int64
 9   capital-loss                 800 non-null    int64
 10  incident_type                800 non-null    object
 11  collision_type               800 non-null    object
 12  incident_severity            800 non-null    object
 13  authorities_contacted        800 non-null    object
 14  incident_state               800 non-null    object
 15  incident_city                800 non-null    object
 16  incident_hour_of_the_day     800 non-null    int64
 17  number_of_vehicles_involved  800 non-null    int64
 18  property_damage              800 non-null    object
 19  bodily_injuries              800 non-null    int64
 20  witnesses                    800 non-null    int64
 21  police_report_available      800 non-null    object
 22  total_claim_amount           800 non-null    int64
 23  injury_claim                 800 non-null    int64
 24  vehicle_claim                800 non-null    int64
 25  auto_make                    800 non-null    object
 26  auto_year                    800 non-null    int64
 27  fraud_reported               800 non-null    int64
dtypes: float64(1), int64(14), object(13)
memory usage: 175.1+ KB

In [ ]:
df.isnull().sum()

policy_state                   0
policy_deductable              0
policy_annual_premium          0
umbrella_limit                 0
insured_zip                    0
insured_sex                    0
insured_education_level        0
insured_relationship           0
capital-gains                  0
capital-loss                   0
incident_type                  0
collision_type                 0
incident_severity              0
authorities_contacted          0
incident_state                 0
incident_city                  0
incident_hour_of_the_day       0
number_of_vehicles_involved    0
property_damage                0
bodily_injuries                0
witnesses                      0
police_report_available        0
total_claim_amount             0
injury_claim                   0
vehicle_claim                  0
auto_make                      0
auto_year                      0
fraud_reported                 0
dtype: int64

In [ ]:
X = df.drop(columns=["fraud_reported"], axis=1)
y = df["fraud_reported"]

In [ ]:
numerical_columns = X.select_dtypes(exclude="object").columns 

numerical_columns

Index(['policy_deductable', 'policy_annual_premium', 'umbrella_limit',
       'insured_zip', 'capital-gains', 'capital-loss',
       'incident_hour_of_the_day', 'number_of_vehicles_involved',
       'bodily_injuries', 'witnesses', 'total_claim_amount', 'injury_claim',
       'vehicle_claim', 'auto_year'],
      dtype='object')

In [ ]:
categorical_columns = X.select_dtypes(include="object").columns 

categorical_columns

Index(['policy_state', 'insured_sex', 'insured_education_level',
       'insured_relationship', 'incident_type', 'collision_type',
       'incident_severity', 'authorities_contacted', 'incident_state',
       'incident_city', 'property_damage', 'police_report_available',
       'auto_make'],
      dtype='object')

In [ ]:
%pwd

'/config/workspace/notebook'

In [ ]:
os.chdir("./data/")

In [ ]:
df = pd.read_csv("cleaned_data.csv")

df.head()

,policy_state,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,insured_education_level,insured_relationship,capital-gains,capital-loss,...,property_damage,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,vehicle_claim,auto_make,auto_year,fraud_reported
0,OH,1000,1406.91,0,466132,MALE,MD,husband,53300,0,...,YES,1,2,YES,71610,6510,52080,Saab,2004,Y
1,IN,2000,1197.22,5000000,468176,MALE,MD,other-relative,0,0,...,?,0,0,?,5070,780,3510,Mercedes,2007,Y
2,OH,2000,1413.14,5000000,430632,FEMALE,PhD,own-child,35100,0,...,NO,2,3,NO,34650,7700,23100,Dodge,2007,N
3,IL,2000,1415.74,6000000,608117,FEMALE,PhD,unmarried,48900,-62400,...,?,1,2,NO,63400,6340,50720,Chevrolet,2014,Y
4,IL,1000,1583.91,6000000,610706,MALE,Associate,unmarried,66000,-46000,...,NO,0,1,NO,6500,1300,4550,Accura,2009,N

In [ ]:
from sklearn.preprocessing import OrdinalEncoder

In [ ]:
df.head()

,policy_state,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,insured_education_level,insured_relationship,capital-gains,capital-loss,...,property_damage,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,vehicle_claim,auto_make,auto_year,fraud_reported
0,OH,1000,1406.91,0,466132,MALE,MD,husband,53300,0,...,YES,1,2,YES,71610,6510,52080,Saab,2004,Y
1,IN,2000,1197.22,5000000,468176,MALE,MD,other-relative,0,0,...,?,0,0,?,5070,780,3510,Mercedes,2007,Y
2,OH,2000,1413.14,5000000,430632,FEMALE,PhD,own-child,35100,0,...,NO,2,3,NO,34650,7700,23100,Dodge,2007,N
3,IL,2000,1415.74,6000000,608117,FEMALE,PhD,unmarried,48900,-62400,...,?,1,2,NO,63400,6340,50720,Chevrolet,2014,Y
4,IL,1000,1583.91,6000000,610706,MALE,Associate,unmarried,66000,-46000,...,NO,0,1,NO,6500,1300,4550,Accura,2009,N

In [ ]:
### Mannually encoding Target column

df["fraud_reported"].replace({"N": 0, "Y": 1}, inplace=True)

In [ ]:
df.columns

Index(['policy_state', 'policy_deductable', 'policy_annual_premium',
       'umbrella_limit', 'insured_zip', 'insured_sex',
       'insured_education_level', 'insured_relationship', 'capital-gains',
       'capital-loss', 'incident_type', 'collision_type', 'incident_severity',
       'authorities_contacted', 'incident_state', 'incident_city',
       'incident_hour_of_the_day', 'number_of_vehicles_involved',
       'property_damage', 'bodily_injuries', 'witnesses',
       'police_report_available', 'total_claim_amount', 'injury_claim',
       'vehicle_claim', 'auto_make', 'auto_year', 'fraud_reported'],
      dtype='object')

In [ ]:
num_cols = df.select_dtypes(exclude="object").columns 
num_cols

Index(['policy_deductable', 'policy_annual_premium', 'umbrella_limit',
       'insured_zip', 'capital-gains', 'capital-loss',
       'incident_hour_of_the_day', 'number_of_vehicles_involved',
       'bodily_injuries', 'witnesses', 'total_claim_amount', 'injury_claim',
       'vehicle_claim', 'auto_year', 'fraud_reported'],
      dtype='object')

In [ ]:
cat_cols = df.select_dtypes(include="object").columns

cat_cols

Index(['policy_state', 'insured_sex', 'insured_education_level',
       'insured_relationship', 'incident_type', 'collision_type',
       'incident_severity', 'authorities_contacted', 'incident_state',
       'incident_city', 'property_damage', 'police_report_available',
       'auto_make'],
      dtype='object')

In [ ]:
encoder = OrdinalEncoder()

In [ ]:
# Encode the categorical columns
encoded_columns = encoder.fit_transform(df[cat_cols])

In [ ]:
encoded_columns

array([[ 2.,  1.,  4., ...,  2.,  2., 10.],
       [ 1.,  1.,  4., ...,  0.,  0.,  8.],
       [ 2.,  0.,  6., ...,  1.,  1.,  4.],
       ...,
       [ 2.,  0.,  5., ...,  0.,  2., 11.],
       [ 0.,  1.,  0., ...,  0.,  2.,  1.],
       [ 2.,  0.,  0., ...,  0.,  0.,  8.]])

In [ ]:
# Create a new DataFrame with the encoded columns and numerical columns
encoded_df = pd.DataFrame(encoded_columns, columns=cat_cols)
encoded_df[num_cols] = df[num_cols]

In [ ]:
encoded_df

,policy_state,insured_sex,insured_education_level,insured_relationship,incident_type,collision_type,incident_severity,authorities_contacted,incident_state,incident_city,...,capital-loss,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,witnesses,total_claim_amount,injury_claim,vehicle_claim,auto_year,fraud_reported
0,2.0,1.0,4.0,0.0,2.0,3.0,0.0,3.0,4.0,1.0,...,0,5,1,1,2,71610,6510,52080,2004,1
1,1.0,1.0,4.0,2.0,3.0,0.0,1.0,3.0,5.0,5.0,...,0,8,1,0,0,5070,780,3510,2007,1
2,2.0,0.0,6.0,3.0,0.0,2.0,1.0,3.0,1.0,1.0,...,0,7,3,2,3,34650,7700,23100,2007,0
3,0.0,0.0,6.0,4.0,2.0,1.0,0.0,3.0,2.0,0.0,...,-62400,5,1,1,2,63400,6340,50720,2014,1
4,0.0,1.0,0.0,4.0,3.0,0.0,1.0,3.0,1.0,0.0,...,-46000,20,1,0,1,6500,1300,4550,2009,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2.0,0.0,5.0,4.0,2.0,1.0,1.0,1.0,0.0,4.0,...,0,20,1,0,1,87200,17440,61040,2006,0
996,0.0,0.0,6.0,5.0,2.0,2.0,0.0,1.0,4.0,3.0,...,0,23,1,2,3,108480,18080,72320,2015,0
997,2.0,0.0,5.0,2.0,0.0,3.0,1.0,3.0,0.0,0.0,...,0,4,3,2,3,67500,7500,52500,1996,0
998,0.0,1.0,0.0,5.0,2.0,2.0,0.0,2.0,1.0,0.0,...,0,2,1,0,1,46980,5220,36540,1998,0
999,2.0,0.0,0.0,0.0,1.0,0.0,1.0,3.0,6.0,1.0,...,0,6,1,0,3,5060,460,3680,2007,0

#### Save the encoded df

In [ ]:
%pwd

'/config/workspace/notebook/data'

In [ ]:
# Save the encoded DataFrame to a new file
encoded_df.to_csv('encoded_data.csv', index=False)

In [ ]:
encoded_df.head()

,policy_state,insured_sex,insured_education_level,insured_relationship,incident_type,collision_type,incident_severity,authorities_contacted,incident_state,incident_city,...,capital-loss,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,witnesses,total_claim_amount,injury_claim,vehicle_claim,auto_year,fraud_reported
0,2.0,1.0,4.0,0.0,2.0,3.0,0.0,3.0,4.0,1.0,...,0,5,1,1,2,71610,6510,52080,2004,1
1,1.0,1.0,4.0,2.0,3.0,0.0,1.0,3.0,5.0,5.0,...,0,8,1,0,0,5070,780,3510,2007,1
2,2.0,0.0,6.0,3.0,0.0,2.0,1.0,3.0,1.0,1.0,...,0,7,3,2,3,34650,7700,23100,2007,0
3,0.0,0.0,6.0,4.0,2.0,1.0,0.0,3.0,2.0,0.0,...,-62400,5,1,1,2,63400,6340,50720,2014,1
4,0.0,1.0,0.0,4.0,3.0,0.0,1.0,3.0,1.0,0.0,...,-46000,20,1,0,1,6500,1300,4550,2009,0

### Feature Selection

In [ ]:
from sklearn.feature_selection import SelectFromModel
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier
from sklearn.ensemble import RandomForestClassifier

In [43]:
X = encoded_df.drop(columns=["fraud_reported"], axis=1)
y = encoded_df["fraud_reported"]

In [44]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [45]:
print("Shape of training data: ", X_train.shape, y_train.shape)

print("------------------------------------------------------")

print("Shape of test data: ", X_test.shape, y_test.shape)

Shape of training data:  (800, 27) (800,)
------------------------------------------------------
Shape of test data:  (200, 27) (200,)

In [46]:
selection = SelectFromModel(XGBClassifier())
sel = selection.fit(X_train, y_train)

In [47]:
selection.get_support()

array([False, False, False, False,  True, False,  True, False, False,
       False, False, False, False, False,  True, False, False, False,
       False, False, False, False, False, False, False, False, False])

In [48]:
selected_feat= X_train.columns[(sel.get_support())]

In [49]:
selected_feat

Index(['incident_type', 'incident_severity', 'policy_annual_premium'], dtype='object')