In [85]:
import pandas as pd 
import numpy as np
import os, sys

In [86]:
%pwd

'd:\\collab_projects\\Duo_projects\\insurance_claims\\notebook\\data'

In [87]:
#os.chdir("../notebook/data/")

In [88]:
df = pd.read_csv("encoded_data.csv")

In [89]:
df.head(3)

,policy_state,insured_sex,insured_education_level,insured_relationship,incident_type,collision_type,incident_severity,authorities_contacted,incident_state,incident_city,...,capital-loss,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,witnesses,total_claim_amount,injury_claim,vehicle_claim,auto_year,fraud_reported
0,2.0,1.0,4.0,0.0,2.0,3.0,0.0,3.0,4.0,1.0,...,0,5,1,1,2,71610,6510,52080,2004,1
1,1.0,1.0,4.0,2.0,3.0,0.0,1.0,3.0,5.0,5.0,...,0,8,1,0,0,5070,780,3510,2007,1
2,2.0,0.0,6.0,3.0,0.0,2.0,1.0,3.0,1.0,1.0,...,0,7,3,2,3,34650,7700,23100,2007,0

In [90]:
df.columns

Index(['policy_state', 'insured_sex', 'insured_education_level',
       'insured_relationship', 'incident_type', 'collision_type',
       'incident_severity', 'authorities_contacted', 'incident_state',
       'incident_city', 'property_damage', 'police_report_available',
       'auto_make', 'policy_deductable', 'policy_annual_premium',
       'umbrella_limit', 'insured_zip', 'capital-gains', 'capital-loss',
       'incident_hour_of_the_day', 'number_of_vehicles_involved',
       'bodily_injuries', 'witnesses', 'total_claim_amount', 'injury_claim',
       'vehicle_claim', 'auto_year', 'fraud_reported'],
      dtype='object')

In [91]:
df.drop(columns=["capital-gains", "capital-loss"], axis=1, inplace=True)

In [92]:
df.head()

,policy_state,insured_sex,insured_education_level,insured_relationship,incident_type,collision_type,incident_severity,authorities_contacted,incident_state,incident_city,...,insured_zip,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,witnesses,total_claim_amount,injury_claim,vehicle_claim,auto_year,fraud_reported
0,2.0,1.0,4.0,0.0,2.0,3.0,0.0,3.0,4.0,1.0,...,466132,5,1,1,2,71610,6510,52080,2004,1
1,1.0,1.0,4.0,2.0,3.0,0.0,1.0,3.0,5.0,5.0,...,468176,8,1,0,0,5070,780,3510,2007,1
2,2.0,0.0,6.0,3.0,0.0,2.0,1.0,3.0,1.0,1.0,...,430632,7,3,2,3,34650,7700,23100,2007,0
3,0.0,0.0,6.0,4.0,2.0,1.0,0.0,3.0,2.0,0.0,...,608117,5,1,1,2,63400,6340,50720,2014,1
4,0.0,1.0,0.0,4.0,3.0,0.0,1.0,3.0,1.0,0.0,...,610706,20,1,0,1,6500,1300,4550,2009,0

In [93]:
len(df.columns)

26

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 26 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   policy_state                 1000 non-null   float64
 1   insured_sex                  1000 non-null   float64
 2   insured_education_level      1000 non-null   float64
 3   insured_relationship         1000 non-null   float64
 4   incident_type                1000 non-null   float64
 5   collision_type               1000 non-null   float64
 6   incident_severity            1000 non-null   float64
 7   authorities_contacted        1000 non-null   float64
 8   incident_state               1000 non-null   float64
 9   incident_city                1000 non-null   float64
 10  property_damage              1000 non-null   float64
 11  police_report_available      1000 non-null   float64
 12  auto_make                    1000 non-null   float64
 13  policy_deductable            1000 non-null   int64
 14  policy_annual_premium        1000 non-null   float64
 15  umbrella_limit               1000 non-null   int64
 16  insured_zip                  1000 non-null   int64
 17  incident_hour_of_the_day     1000 non-null   int64
 18  number_of_vehicles_involved  1000 non-null   int64
 19  bodily_injuries              1000 non-null   int64
 20  witnesses                    1000 non-null   int64
 21  total_claim_amount           1000 non-null   int64
 22  injury_claim                 1000 non-null   int64
 23  vehicle_claim                1000 non-null   int64
 24  auto_year                    1000 non-null   int64
 25  fraud_reported               1000 non-null   int64
dtypes: float64(14), int64(12)
memory usage: 203.2 KB

In [95]:
df.columns

Index(['policy_state', 'insured_sex', 'insured_education_level',
       'insured_relationship', 'incident_type', 'collision_type',
       'incident_severity', 'authorities_contacted', 'incident_state',
       'incident_city', 'property_damage', 'police_report_available',
       'auto_make', 'policy_deductable', 'policy_annual_premium',
       'umbrella_limit', 'insured_zip', 'incident_hour_of_the_day',
       'number_of_vehicles_involved', 'bodily_injuries', 'witnesses',
       'total_claim_amount', 'injury_claim', 'vehicle_claim', 'auto_year',
       'fraud_reported'],
      dtype='object')

In [96]:
df["policy_state"].value_counts()

2.0    352
0.0    338
1.0    310
Name: policy_state, dtype: int64

In [97]:
df["policy_deductable"].value_counts()

1000    351
500     342
2000    307
Name: policy_deductable, dtype: int64

In [98]:
df.columns

Index(['policy_state', 'insured_sex', 'insured_education_level',
       'insured_relationship', 'incident_type', 'collision_type',
       'incident_severity', 'authorities_contacted', 'incident_state',
       'incident_city', 'property_damage', 'police_report_available',
       'auto_make', 'policy_deductable', 'policy_annual_premium',
       'umbrella_limit', 'insured_zip', 'incident_hour_of_the_day',
       'number_of_vehicles_involved', 'bodily_injuries', 'witnesses',
       'total_claim_amount', 'injury_claim', 'vehicle_claim', 'auto_year',
       'fraud_reported'],
      dtype='object')

In [99]:
df["policy_annual_premium"].value_counts()

1257.20    3
1374.22    2
1558.29    2
1074.07    2
1215.36    2
          ..
1437.33    1
988.29     1
1238.89    1
1384.64    1
766.19     1
Name: policy_annual_premium, Length: 989, dtype: int64

In [100]:
df["umbrella_limit"].value_counts()

 0          813
 6000000     57
 5000000     46
 4000000     39
 7000000     29
 3000000     12
 2000000      3
-1000000      1
Name: umbrella_limit, dtype: int64

In [101]:
df["insured_zip"]

0      466132
1      468176
2      430632
3      608117
4      610706
        ...
995    431289
996    608177
997    442797
998    441714
999    612260
Name: insured_zip, Length: 1000, dtype: int64

In [102]:
df.columns

Index(['policy_state', 'insured_sex', 'insured_education_level',
       'insured_relationship', 'incident_type', 'collision_type',
       'incident_severity', 'authorities_contacted', 'incident_state',
       'incident_city', 'property_damage', 'police_report_available',
       'auto_make', 'policy_deductable', 'policy_annual_premium',
       'umbrella_limit', 'insured_zip', 'incident_hour_of_the_day',
       'number_of_vehicles_involved', 'bodily_injuries', 'witnesses',
       'total_claim_amount', 'injury_claim', 'vehicle_claim', 'auto_year',
       'fraud_reported'],
      dtype='object')

In [103]:
df["insured_sex"].value_counts()

0.0    537
1.0    463
Name: insured_sex, dtype: int64

In [104]:
df["insured_education_level"].value_counts()

3.0    161
2.0    160
0.0    145
4.0    144
5.0    143
6.0    125
1.0    122
Name: insured_education_level, dtype: int64

In [105]:
df.columns

Index(['policy_state', 'insured_sex', 'insured_education_level',
       'insured_relationship', 'incident_type', 'collision_type',
       'incident_severity', 'authorities_contacted', 'incident_state',
       'incident_city', 'property_damage', 'police_report_available',
       'auto_make', 'policy_deductable', 'policy_annual_premium',
       'umbrella_limit', 'insured_zip', 'incident_hour_of_the_day',
       'number_of_vehicles_involved', 'bodily_injuries', 'witnesses',
       'total_claim_amount', 'injury_claim', 'vehicle_claim', 'auto_year',
       'fraud_reported'],
      dtype='object')

In [106]:
df["insured_relationship"].value_counts()

3.0    183
2.0    177
1.0    174
0.0    170
5.0    155
4.0    141
Name: insured_relationship, dtype: int64

In [107]:
df["incident_type"].value_counts()

0.0    419
2.0    403
3.0     94
1.0     84
Name: incident_type, dtype: int64

In [108]:
df.columns

Index(['policy_state', 'insured_sex', 'insured_education_level',
       'insured_relationship', 'incident_type', 'collision_type',
       'incident_severity', 'authorities_contacted', 'incident_state',
       'incident_city', 'property_damage', 'police_report_available',
       'auto_make', 'policy_deductable', 'policy_annual_premium',
       'umbrella_limit', 'insured_zip', 'incident_hour_of_the_day',
       'number_of_vehicles_involved', 'bodily_injuries', 'witnesses',
       'total_claim_amount', 'injury_claim', 'vehicle_claim', 'auto_year',
       'fraud_reported'],
      dtype='object')

In [109]:
df["collision_type"].value_counts()

2.0    292
3.0    276
1.0    254
0.0    178
Name: collision_type, dtype: int64

In [110]:
df["incident_severity"].value_counts()

1.0    354
2.0    280
0.0    276
3.0     90
Name: incident_severity, dtype: int64

In [111]:
df.columns

Index(['policy_state', 'insured_sex', 'insured_education_level',
       'insured_relationship', 'incident_type', 'collision_type',
       'incident_severity', 'authorities_contacted', 'incident_state',
       'incident_city', 'property_damage', 'police_report_available',
       'auto_make', 'policy_deductable', 'policy_annual_premium',
       'umbrella_limit', 'insured_zip', 'incident_hour_of_the_day',
       'number_of_vehicles_involved', 'bodily_injuries', 'witnesses',
       'total_claim_amount', 'injury_claim', 'vehicle_claim', 'auto_year',
       'fraud_reported'],
      dtype='object')

In [112]:
df["authorities_contacted"].value_counts()

3.0    383
1.0    223
2.0    198
0.0    196
Name: authorities_contacted, dtype: int64

In [113]:
df["incident_state"].value_counts()

1.0    262
4.0    248
6.0    217
5.0    110
0.0    110
3.0     30
2.0     23
Name: incident_state, dtype: int64

In [114]:
df.columns

Index(['policy_state', 'insured_sex', 'insured_education_level',
       'insured_relationship', 'incident_type', 'collision_type',
       'incident_severity', 'authorities_contacted', 'incident_state',
       'incident_city', 'property_damage', 'police_report_available',
       'auto_make', 'policy_deductable', 'policy_annual_premium',
       'umbrella_limit', 'insured_zip', 'incident_hour_of_the_day',
       'number_of_vehicles_involved', 'bodily_injuries', 'witnesses',
       'total_claim_amount', 'injury_claim', 'vehicle_claim', 'auto_year',
       'fraud_reported'],
      dtype='object')

In [115]:
df["incident_city"].value_counts()

6.0    157
0.0    152
1.0    149
3.0    145
2.0    141
5.0    134
4.0    122
Name: incident_city, dtype: int64

In [116]:
df["incident_hour_of_the_day"].value_counts()

17    54
3     53
0     52
23    51
16    49
13    46
10    46
4     46
6     44
9     43
14    43
21    42
18    41
12    40
19    40
7     40
15    39
22    38
8     36
20    34
5     33
2     31
11    30
1     29
Name: incident_hour_of_the_day, dtype: int64

In [117]:
df.columns

Index(['policy_state', 'insured_sex', 'insured_education_level',
       'insured_relationship', 'incident_type', 'collision_type',
       'incident_severity', 'authorities_contacted', 'incident_state',
       'incident_city', 'property_damage', 'police_report_available',
       'auto_make', 'policy_deductable', 'policy_annual_premium',
       'umbrella_limit', 'insured_zip', 'incident_hour_of_the_day',
       'number_of_vehicles_involved', 'bodily_injuries', 'witnesses',
       'total_claim_amount', 'injury_claim', 'vehicle_claim', 'auto_year',
       'fraud_reported'],
      dtype='object')

In [118]:
df["number_of_vehicles_involved"].value_counts()

1    581
3    358
4     31
2     30
Name: number_of_vehicles_involved, dtype: int64

In [119]:
df["property_damage"].value_counts()

0.0    360
1.0    338
2.0    302
Name: property_damage, dtype: int64

In [120]:
df["bodily_injuries"].value_counts()

0    340
2    332
1    328
Name: bodily_injuries, dtype: int64

In [121]:
df["witnesses"].value_counts()

1    258
2    250
0    249
3    243
Name: witnesses, dtype: int64

In [122]:
df.columns

Index(['policy_state', 'insured_sex', 'insured_education_level',
       'insured_relationship', 'incident_type', 'collision_type',
       'incident_severity', 'authorities_contacted', 'incident_state',
       'incident_city', 'property_damage', 'police_report_available',
       'auto_make', 'policy_deductable', 'policy_annual_premium',
       'umbrella_limit', 'insured_zip', 'incident_hour_of_the_day',
       'number_of_vehicles_involved', 'bodily_injuries', 'witnesses',
       'total_claim_amount', 'injury_claim', 'vehicle_claim', 'auto_year',
       'fraud_reported'],
      dtype='object')

In [123]:
df["police_report_available"].value_counts()

0.0    343
1.0    343
2.0    314
Name: police_report_available, dtype: int64

In [124]:
df["total_claim_amount"].value_counts()

59400    5
2640     4
70400    4
4320     4
44200    4
        ..
65250    1
87100    1
6240     1
66600    1
67500    1
Name: total_claim_amount, Length: 763, dtype: int64

In [125]:
df.columns

Index(['policy_state', 'insured_sex', 'insured_education_level',
       'insured_relationship', 'incident_type', 'collision_type',
       'incident_severity', 'authorities_contacted', 'incident_state',
       'incident_city', 'property_damage', 'police_report_available',
       'auto_make', 'policy_deductable', 'policy_annual_premium',
       'umbrella_limit', 'insured_zip', 'incident_hour_of_the_day',
       'number_of_vehicles_involved', 'bodily_injuries', 'witnesses',
       'total_claim_amount', 'injury_claim', 'vehicle_claim', 'auto_year',
       'fraud_reported'],
      dtype='object')

In [126]:
df["injury_claim"].value_counts()

0        25
640       7
480       7
660       5
580       5
         ..
14840     1
6580      1
11820     1
16650     1
7500      1
Name: injury_claim, Length: 638, dtype: int64

In [127]:
df["vehicle_claim"].value_counts()

5040     7
3360     6
52080    5
4720     5
3600     5
        ..
43360    1
25130    1
38940    1
47430    1
52500    1
Name: vehicle_claim, Length: 726, dtype: int64

In [128]:
df.columns

Index(['policy_state', 'insured_sex', 'insured_education_level',
       'insured_relationship', 'incident_type', 'collision_type',
       'incident_severity', 'authorities_contacted', 'incident_state',
       'incident_city', 'property_damage', 'police_report_available',
       'auto_make', 'policy_deductable', 'policy_annual_premium',
       'umbrella_limit', 'insured_zip', 'incident_hour_of_the_day',
       'number_of_vehicles_involved', 'bodily_injuries', 'witnesses',
       'total_claim_amount', 'injury_claim', 'vehicle_claim', 'auto_year',
       'fraud_reported'],
      dtype='object')

In [129]:
df["auto_make"].value_counts()

10.0    80
4.0     80
11.0    80
9.0     78
3.0     76
5.0     72
2.0     72
12.0    70
1.0     69
0.0     68
13.0    68
7.0     67
8.0     65
6.0     55
Name: auto_make, dtype: int64

In [130]:
df["auto_year"].value_counts()

1995    56
1999    55
2005    54
2006    53
2011    53
2007    52
2003    51
2009    50
2010    50
2013    49
2002    49
2015    47
1997    46
2012    46
2008    45
2014    44
2001    42
2000    42
1998    40
2004    39
1996    37
Name: auto_year, dtype: int64

### Feature Selection

In [131]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression

In [132]:
X = df.drop(columns=["fraud_reported"], axis=1)
y = df["fraud_reported"]

In [133]:
model = LogisticRegression()
rfe = RFE(model, n_features_to_select=10, step=1)
fit = rfe.fit(X, y)

d:\collab_projects\Duo_projects\insurance_claims\venv\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
d:\collab_projects\Duo_projects\insurance_claims\venv\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
d:\collab_projects\Duo_projects\insurance_claims\venv\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
d:\collab_projects\Duo_projects\insurance_claims\venv\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
d:\collab_projects\Duo_projects\insurance_claims\venv\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
d:\collab_projects\Duo_projects\insurance_claims\venv\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
d:\collab_projects\Duo_projects\insurance_claims\venv\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [134]:
fit.support_

array([False,  True, False,  True, False,  True,  True, False,  True,
        True,  True,  True, False, False, False, False, False, False,
       False,  True,  True, False, False, False, False])

In [135]:
fit.ranking_

array([13,  1,  5,  1,  2,  1,  1,  3,  1,  1,  1,  1,  4,  9,  7, 16, 14,
        6, 15,  1,  1, 11, 10, 12,  8])

In [136]:

print("Numerical Features: ", fit.n_features_)
print("Selected Features: ", fit.support_)
print("Feature Ranking: ", fit.ranking_)

Numerical Features:  10
Selected Features:  [False  True False  True False  True  True False  True  True  True  True
 False False False False False False False  True  True False False False
 False]
Feature Ranking:  [13  1  5  1  2  1  1  3  1  1  1  1  4  9  7 16 14  6 15  1  1 11 10 12
  8]

In [137]:
fit.get_feature_names_out()

array(['insured_sex', 'insured_relationship', 'collision_type',
       'incident_severity', 'incident_state', 'incident_city',
       'property_damage', 'police_report_available', 'bodily_injuries',
       'witnesses'], dtype=object)

In [138]:
features = ['insured_sex', 'insured_relationship', 'collision_type',
       'incident_severity', 'incident_state', 'incident_city',
       'property_damage', 'police_report_available', 'bodily_injuries',
       'witnesses']

In [139]:
%pwd

'd:\\collab_projects\\Duo_projects\\insurance_claims\\notebook\\data'

In [140]:
df = pd.read_csv("cleaned_data.csv")

df.head(3)

,policy_state,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,insured_education_level,insured_relationship,capital-gains,capital-loss,...,property_damage,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,vehicle_claim,auto_make,auto_year,fraud_reported
0,OH,1000,1406.91,0,466132,MALE,MD,husband,53300,0,...,YES,1,2,YES,71610,6510,52080,Saab,2004,Y
1,IN,2000,1197.22,5000000,468176,MALE,MD,other-relative,0,0,...,?,0,0,?,5070,780,3510,Mercedes,2007,Y
2,OH,2000,1413.14,5000000,430632,FEMALE,PhD,own-child,35100,0,...,NO,2,3,NO,34650,7700,23100,Dodge,2007,N

In [141]:
df.columns

Index(['policy_state', 'policy_deductable', 'policy_annual_premium',
       'umbrella_limit', 'insured_zip', 'insured_sex',
       'insured_education_level', 'insured_relationship', 'capital-gains',
       'capital-loss', 'incident_type', 'collision_type', 'incident_severity',
       'authorities_contacted', 'incident_state', 'incident_city',
       'incident_hour_of_the_day', 'number_of_vehicles_involved',
       'property_damage', 'bodily_injuries', 'witnesses',
       'police_report_available', 'total_claim_amount', 'injury_claim',
       'vehicle_claim', 'auto_make', 'auto_year', 'fraud_reported'],
      dtype='object')

In [142]:
features_to_drop = ['policy_state', 'policy_deductable', 'policy_annual_premium',
       'umbrella_limit', 'insured_zip',
       'insured_education_level', 'capital-gains',
       'capital-loss', 'incident_type',
       'authorities_contacted',
       'incident_hour_of_the_day', 'number_of_vehicles_involved',
        'total_claim_amount', 'injury_claim',
       'vehicle_claim', 'auto_make', 'auto_year']

In [143]:
features

['insured_sex',
 'insured_relationship',
 'collision_type',
 'incident_severity',
 'incident_state',
 'incident_city',
 'property_damage',
 'police_report_available',
 'bodily_injuries',
 'witnesses']

In [144]:
df.drop(columns=features_to_drop, axis=1, inplace=True)

df.head(3)

,insured_sex,insured_relationship,collision_type,incident_severity,incident_state,incident_city,property_damage,bodily_injuries,witnesses,police_report_available,fraud_reported
0,MALE,husband,Side Collision,Major Damage,SC,Columbus,YES,1,2,YES,Y
1,MALE,other-relative,?,Minor Damage,VA,Riverwood,?,0,0,?,Y
2,FEMALE,own-child,Rear Collision,Minor Damage,NY,Columbus,NO,2,3,NO,N

In [145]:
df.shape

(1000, 11)

#### Save the dataframe as csv

In [146]:
df.head(3)

,insured_sex,insured_relationship,collision_type,incident_severity,incident_state,incident_city,property_damage,bodily_injuries,witnesses,police_report_available,fraud_reported
0,MALE,husband,Side Collision,Major Damage,SC,Columbus,YES,1,2,YES,Y
1,MALE,other-relative,?,Minor Damage,VA,Riverwood,?,0,0,?,Y
2,FEMALE,own-child,Rear Collision,Minor Damage,NY,Columbus,NO,2,3,NO,N

In [147]:
df["collision_type"].value_counts

<bound method IndexOpsMixin.value_counts of 0       Side Collision
1                    ?
2       Rear Collision
3      Front Collision
4                    ?
            ...
995    Front Collision
996     Rear Collision
997     Side Collision
998     Rear Collision
999                  ?
Name: collision_type, Length: 1000, dtype: object>

In [148]:
df.columns

Index(['insured_sex', 'insured_relationship', 'collision_type',
       'incident_severity', 'incident_state', 'incident_city',
       'property_damage', 'bodily_injuries', 'witnesses',
       'police_report_available', 'fraud_reported'],
      dtype='object')

In [149]:
df["incident_severity"].value_counts()

Minor Damage      354
Total Loss        280
Major Damage      276
Trivial Damage     90
Name: incident_severity, dtype: int64

In [150]:
df["property_damage"].value_counts()

?      360
NO     338
YES    302
Name: property_damage, dtype: int64

In [151]:
df["police_report_available"].value_counts()

?      343
NO     343
YES    314
Name: police_report_available, dtype: int64

In [152]:
df.columns

Index(['insured_sex', 'insured_relationship', 'collision_type',
       'incident_severity', 'incident_state', 'incident_city',
       'property_damage', 'bodily_injuries', 'witnesses',
       'police_report_available', 'fraud_reported'],
      dtype='object')

In [153]:
df["collision_type"] = df["collision_type"].replace({"?": "Others"})
df["property_damage"] = df["property_damage"].replace({"?": "Others"})
df["police_report_available"] = df["police_report_available"].replace({"?": "Not Available"})

In [154]:
df.head(3)

,insured_sex,insured_relationship,collision_type,incident_severity,incident_state,incident_city,property_damage,bodily_injuries,witnesses,police_report_available,fraud_reported
0,MALE,husband,Side Collision,Major Damage,SC,Columbus,YES,1,2,YES,Y
1,MALE,other-relative,Others,Minor Damage,VA,Riverwood,Others,0,0,Not Available,Y
2,FEMALE,own-child,Rear Collision,Minor Damage,NY,Columbus,NO,2,3,NO,N

In [155]:
df.shape

(1000, 11)

#### Save the dataframe as final FS_data.csv

In [156]:
# Save the DataFrame as a CSV file
df.to_csv('FS_data.csv', index=False)

We've made the changes & finally selected our 10 Features and we'll built our ML model on these features

In [157]:
%pwd

'd:\\collab_projects\\Duo_projects\\insurance_claims\\notebook\\data'

In [158]:
df = pd.read_csv("FS_data.csv")

df.head()

,insured_sex,insured_relationship,collision_type,incident_severity,incident_state,incident_city,property_damage,bodily_injuries,witnesses,police_report_available,fraud_reported
0,MALE,husband,Side Collision,Major Damage,SC,Columbus,YES,1,2,YES,Y
1,MALE,other-relative,Others,Minor Damage,VA,Riverwood,Others,0,0,Not Available,Y
2,FEMALE,own-child,Rear Collision,Minor Damage,NY,Columbus,NO,2,3,NO,N
3,FEMALE,unmarried,Front Collision,Major Damage,OH,Arlington,Others,1,2,NO,Y
4,MALE,unmarried,Others,Minor Damage,NY,Arlington,NO,0,1,NO,N

In [159]:
df.shape

(1000, 11)

In [160]:
numerical_columns = df.select_dtypes(exclude="object").columns

numerical_columns

Index(['bodily_injuries', 'witnesses'], dtype='object')

In [161]:
categorical_columns = df.select_dtypes(include="object").columns

categorical_columns

Index(['insured_sex', 'insured_relationship', 'collision_type',
       'incident_severity', 'incident_state', 'incident_city',
       'property_damage', 'police_report_available', 'fraud_reported'],
      dtype='object')

feat = [insured_sex,insured_relationship,collision_type,
       incident_severity,incident_state,incident_city,
       property_damage,police_report_available,bodily_injuries,witnesses]

In [163]:
df["insured_relationship"].value_counts()

own-child         183
other-relative    177
not-in-family     174
husband           170
wife              155
unmarried         141
Name: insured_relationship, dtype: int64

In [164]:
df["collision_type"].value_counts()

Rear Collision     292
Side Collision     276
Front Collision    254
Others             178
Name: collision_type, dtype: int64

In [165]:
df["incident_severity"].value_counts()

Minor Damage      354
Total Loss        280
Major Damage      276
Trivial Damage     90
Name: incident_severity, dtype: int64

In [166]:
df["incident_state"].value_counts()

NY    262
SC    248
WV    217
VA    110
NC    110
PA     30
OH     23
Name: incident_state, dtype: int64

In [167]:
df["incident_city"].value_counts()

Springfield    157
Arlington      152
Columbus       149
Northbend      145
Hillsdale      141
Riverwood      134
Northbrook     122
Name: incident_city, dtype: int64

In [168]:
df["property_damage"].value_counts()

Others    360
NO        338
YES       302
Name: property_damage, dtype: int64

In [169]:
df["police_report_available"].value_counts()

Not Available    343
NO               343
YES              314
Name: police_report_available, dtype: int64

In [170]:
df["bodily_injuries"].value_counts()

0    340
2    332
1    328
Name: bodily_injuries, dtype: int64

In [171]:
df["witnesses"].value_counts()

1    258
2    250
0    249
3    243
Name: witnesses, dtype: int64